body {
    max-width: 90%;
    margin: 0 auto;
    width: 50%;
    background: linear-gradient(90deg, #EFEFEF, #A1C4E8);

}



blockquote {
    font-family: serif;
    word-spacing: normal;
    color: rgb(56, 56, 56);
    border-left: 3px solid firebrick;
    padding: 30px;
    margin: 80px 0;
    font-style: italic;
}

header {
    background-color: yellow;
}